#ingredients-textarea{
    position: relative;
    width: 100%;
    padding: 1em !important;
    border: none !important;
    background-color: transparent !important;
    outline: none;
    color: #e8d191 !important;
    border-radius: 0 !important;
    border-bottom: 1px solid #e8d191 !important;
}
