/* Navbar mobile*/
.navbar {
  width: 100%;
  background-color: #160404;
  border-top: 1px solid #f3f3f3;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 1000;
}

a svg {

  font-size: 40px;
  color: #4D000D;
}

/* Navbar large */ 

.navlarge {
  background-color: #4d000d;
  width: 100%;
  color: #e8d191;
}

@media screen and (max-width: 745px) {
  #large {
    display: none;
  }
  #mobile {
    display: block;
  }
} 
@media screen and (min-width: 746px) {
  #large {
    display: block;
  }
  #mobile {
    display: none;
  }
} 

 /* ------------FOOTER------------*/

footer {
  margin-bottom: 1rem;
  background-color: #4d000d;
  color: #e8d191;
}
footer a {
  text-decoration: none;
  color: #e8d191;
}
footer svg {
  color: #e8d191;
}