@font-face {
    font-family: 'TAN Pearl';
    src: url('./assets/fonts/TAN-PEARL-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body {
    font-family: 'TAN Pearl'; 
    color: #E8D191;
    background-color: #4D000D;

}